.btn {
	border: none;

	background-color: #222935;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 10px;
	color: #fff;
	cursor: pointer;

	&:hover {
		background-color: #26c17e;
	}

	.btn-icon {
		padding-right: 7px;
	}
}
